.toggle {
  display: flex;
  align-items: center;

  width: auto;
  user-select: none;

  input:not(:checked) + &__track {
    background-color: var(--color-dark, #eee);

    .toggle__handle {
      transform: translateZ(0);
    }
  }

  input:disabled + &__track {
    cursor: not-allowed;
    opacity: var(--disabled-opacity, 0.5);

    .toggle__handle {
      cursor: not-allowed;
      opacity: var(--disabled-opacity, 0.5);
    }
  }

  input:active + &__track,
  input:focus + &__track {
    border-color: var(--border-color-focus, #4267ff);
    box-shadow: var(--box-shadow-focus, inset 0 0 0 1px var(--color-outline, #4267ff));

    .toggle__handle {
      border-color: var(--border-color-focus, #4267ff);
      box-shadow: var(--box-shadow-focus, inset 0 0 0 1px var(--color-outline, #4267ff)), 0 1px 3px 1px var(--color-default, #74748c);
    }
  }

  input {
    position: absolute;
    opacity: 0;
  }

  &__track {
    --toggle-track-color: var(--color-default, #74748c);

    flex: 0 1 auto;
    padding-right: var(--grid-gutter, 8px);
    padding-left: var(--grid-gutter, 8px);

    position: relative;
    width: 1em;
    height: 0.5em;
    margin: 0 0.5em;
    background-color: var(--toggle-track-color);
    border-radius: var(--border-radius-rounded, 30em);
  }

  &__handle {
    position: absolute;
    top: -0.25em;
    left: 0;
    width: 1em;
    height: 1em;
    background-color: #fff;
    border-radius: var(--border-radius-rounded, 30em);
    box-shadow: 0 1px 3px 1px var(--color-default, #74748c);
    transform: translateX(100%);
  }
}




