@import "../../scss/variables";

@mixin disabled {
  &:disabled,
  &[disabled] {
    cursor: not-allowed;
    opacity: var(--disabled-opacity);
  }
}

@mixin button-nude {
  @include disabled;
  width: auto;
  margin: 0;
  padding: 0;
  overflow: visible;
  color: inherit;
  font: inherit;
  line-height: normal;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  background: inherit;
  border: 0;
  outline: 0;
  appearance: none;
}

.tabs {
  &__tablist[role='tablist'] {
    display: block;
  }

  &__headings {
    display: flex;
    text-align: center;
    list-style: none outside;
    margin: 0;
    padding: 0;
  }

  &__nav {
    overflow: hidden;

    .tabs__headings {
      overflow-x: auto;
      overflow-y: hidden;
    }
  }

  &__tab {

  }

  &__heading[role='tab'] {
    position: relative;
    @include button-nude;
    padding: var(--tab-padding-top, 0) var(--tab-padding-left, 0) var(--tab-padding-bottom, 0) var(--tab-padding-right, 0);
    display: block;
    flex: 1;
    margin: 0 var(--tab-margin-left) 0 var(--tab-margin-right);

    &:first-of-type {
      margin: 0 0 0 var(--tab-margin-right);
    }

    &:last-of-type {
      margin: 0 var(--tab-margin-left) 0 0;
    }

    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: var(--tab-font-family, inherit);
    font-size: var(--tab-font-size, var(--text-font-size-medium));
    color: var(--tab-color);
    transition: color 0.3s;

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      border-top-left-radius: var(--tab-border-radius, 0);
      border-top-right-radius: var(--tab-border-radius, 0);
      background-color: var(--tab-background-color);
      content: '';
      transition: background-color 0.3s, transform 0.3s;
      transition-timing-function: ease, cubic-bezier(0.7,0,0.3,1);
      transform: translate3d(0,100%,0) translate3d(0,-3px,0);
    }

    &:not(:disabled):not(.is-active):hover {
      color: var(--tab-hover-color);
      &::after {
        background-color: var(--tab-active-background-color);
      }
   }

    &.is-active {
      color: var(--tab-active-color);

      &::after {
        transform: translate3d(0,0,0);
        background-color: var(--tab-active-background-color);
      }
    }
  }
}
