:host {
  display: block;
}

.autocomplete {

  .c-field {
    border-radius: 0;
  }

  &:not(:first-child) .c-field {
    border-left-width: 0;
  }

  &:first-child .c-field {
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
  }

  &:last-child .c-field {
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
  }
}
